#root {
  position:inherit;
  width: 100%;
  text-align: center;
}

#introduction{
  color: rgb(81, 89, 91);
}
#otherArticles h2{
  margin-top: 40px;
  color: rgb(81, 89, 91);
}
body {
  height: 100%;
  margin:0;
  display: block;
  background-image:url('../img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
#content{
  background-color: rgb(204, 199, 196);
  margin-right: auto;
  margin-left: auto;
  width: 80%;
} 
#articles{
  top: 0;
  background-color: rgb(204, 199, 196);
  display: flex;
  flex-wrap: wrap;
}
#otherArticles{
  height: fit-content;
}
#container{
  height: 50%;
  overflow:hidden;
  white-space: nowrap;
}
#otherArticles div p{
  white-space: normal;
}



