ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  position: sticky;
  top: 0;
  }
  li {
  display: inline-block;
  width: 25%;
  }

  #bodyLogin{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  #formLogin{
    width: 48%;
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    background-color: rgb(204, 199, 196);
    border: solid rgb(125,127,126) 2px;
    border-radius: 20px;
  }

  #username{
    height: 5vh;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    font-size: 150%;
    padding-left: 10px;
    border-radius: 20px;
  }

  #password{
    height: 5vh;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    font-size: 150%;
    padding-left: 10px;
    border-radius: 20px;
  }

  #logli{
    display: inline-flex;
    align-items: baseline;
  }

  #campi{
    display: flex;
    flex-wrap: wrap;
  }

  #login{
    color: black;
    display: inline-flex;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  
  #login:hover {
    border-color: black;
  }
  #login:focus,
  #login:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  #login{
    background-color: white;
    margin-left:auto;
    margin-right: 0;
  }

  li h3{
    padding-right: 20px;
    text-align: right;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.5s, color 0.5s;
    }
    
    li a:hover {
    background-color: rgb(125,127,126);
    color: black;
    }
#imgArt{
    float: left;
    width:100%;
    padding: 1%;
    border-radius: 10%;
}

.descArtPrinc{
  float: left;
  width: 50%;
}

.descArtSec{
  font-size: 90%;
  float: left;
  width: 50%;
}

#main{
  width: 48%;
  margin-left: 2%;
  margin-top: 80px;
  background-color: rgb(125,127,126);
  border-radius: 20px;
  transition:  background-color 0.5s;
}

#main:hover{
  background-color: rgb(81, 89, 91);
}
#title{
  width: 100%;
}
#editorH3{
  margin: 0;
}
#ediTitContainer{
  width: 100%;
}
#editorTitolo{
  width: 50%;
  font-size: 200%;
}
#editorDescArt{
  resize: none;
  font-size: 90%;
  float: right;
  width: 40%;
  height: 20vh;
}
#editorImmagine{
  color: black;
  background-color: white;
  overflow: hidden;
  width: 50%;
  height: 25vh;
  float: left;
  border: 1px black solid;
}
#editorInputs{
  width: 100%;
  display: flex;
}
#editorInputImg{
  font-size: 100%;
}
#editorImgArt{
  font-size: 200%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25%;
  max-width:100%;
  max-height:25vh;
  padding: 1%;
  border-radius: 10%;
}
#immagine{
  overflow: hidden;
  width: 50%;
  float: left;
}

#editorContainer{
  width: 48%;
  height: 40vh;
  margin-right: 2%;
  margin-top: 80px;
  background-color: rgb(125,127,126);
  border-radius: 20px;
  transition:  background-color 0.5s;
}

#new{
  width: 48%;
  margin-right: 2%;
  margin-top: 80px;
  background-color: rgb(125,127,126);
  border-radius: 20px;
  transition:  background-color 0.5s;
}

#new:hover{
  background-color: rgb(81, 89, 91);
}
.top{
  min-height: 30vh;
  overflow: hidden;
  display:inline-flex;
  flex-wrap: wrap;
  width: 30%;
  margin-top: 40px;
  margin-right: 5%;
  background-color: rgb(125,127,126);
  border-radius: 20px;
  transition:  background-color 0.5s;
}

.top:hover{
  background-color: rgb(81, 89, 91);
}

#otherArticles{
  overflow:hidden;
}

footer{
  padding: 2%;
  background-color: rgb(81, 89, 91);
}

.foot{
  width: 20%;
  display: inline-block;
  text-align: left;
  padding-left: 10px;
  border-left: 1px white solid;
}

#crediti{
  margin-right: 3%;
}#contatti{
  margin-right: 3%;
  margin-left: 3%;
}#links{
  margin-left: 3%;
}
#contatti a{
  color:white
}
#console{
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
}

.move {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(81, 89, 91);
  cursor: pointer;
  transition: border-color 0.25s;
}
.move:hover {
  border-color: black;
}
.move:focus,
.move:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.round{
  background-color: grey;
  border-radius: 50%;
  margin: 0 5px 0 5px;
}